<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/fontawesome-all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="~/images/flogo.png">
    <link href="~/styles/style.css" rel="stylesheet" />
</head>
<body style="background-image:url('../images/Pine_Forest.jpg')">
    <div>
        @RenderBody()
    </div>
</body>
</html>
