@model Forestitan.Models.UserAccount
@{
    ViewBag.Title = "Forestitan";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

    <body>
        <br /><br />
        <h1 class="header-w3ls">Forestitan</h1>
        @using (Html.BeginForm("Verify", "Account", FormMethod.Post))
        {
            <div class="art-bothside" style="background:rgba(255, 251, 251, 0.25)">
                <div class="sap_tabs">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item"><span style="color:black">Login</span></li>
                            <li class="resp-tab-item"><span style="color:black">Sign Up</span></li>
                        </ul>
                        <div class="clearfix"> </div>
                        <div class="resp-tabs-container">
                            <div class="tab-1 resp-tab-content">
                                <div class="swm-right-w3ls">
                                    <form action="Verify" method="post">
                                        <div class="main">
                                            <div class="icon-head-wthree">
                                                <h2>Login Here</h2>
                                            </div>
                                            <div class="form-left-w3l">
                                                <input type="email" name="Email" placeholder="Enter Your Email" required="">
                                            </div>
                                            <div class="form-right-w3ls ">
                                                <input type="password" name="Password" placeholder="Enter Your Password" required="">
                                            </div>
                                            <div style="color: red;margin-bottom: 10px;text-align: left;font-weight: bold;background-color: white;width: 199px">
                                                @ViewBag.ErrorMessage
                                            </div>
                                            <div class="btnn">
                                                <button type="submit">LOGIN</button><br>
                                                <a href="#" class="for">Forgot password...?</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                            {
                                <div class="tab-1 resp-tab-content">
                                    <div class="swm-left-w3ls">
                                        <form action="Register" method="get">

                                            <div class="main">
                                                <div class="icon-head-wthree">
                                                    <h2>Don't have an account? Sign Up Now</h2>
                                                </div>
                                                <div class="form-left-to-w3l">
                                                    <input type="text" name="UserName" placeholder="Name" required="">
                                                </div>
                                                <div class="form-left-w3l">
                                                    <input type="email" name="Email" placeholder="Email" required="">
                                                </div>
                                                <div class="form-right-w3ls ">
                                                    <input type="password" name="Password" placeholder="Password" required="">
                                                </div>
                                                <div style="color:white; text-align:left; padding-bottom: 3px">
                                                    @ViewBag.Msg
                                                </div>
                                                <div class="btnn">
                                                    <button type="submit">Sign Up</button><br>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <script src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script src="~/Scripts/easyResponsiveTabs.js"></script>
        <script>
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true // 100% fit in a container
                });
                var msg = "@ViewBag.Msg";
                if (msg != "") {
                    var SetData = $("#Message");
                    var Data =
                        "<span class='text-danger'>" + msg + "</span>"
                    SetData.append(Data);
                }
            });
        </script>
    </body>

