@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <b>Forestitan</b>
    
    </div>
    <div>
        <pre>Hi, please verify your email by click this <a href="@ViewBag.ConfirmationLink">link</a> </pre>
    </div>
</body>
</html>
